body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Bebas";
    src: url("BebasNeue.otf");
}

#logo {
    float: left;
}

#logo a:hover {
    background-color: rgba(255, 255, 255, 1);
}

#logo a img {
    max-height: 100%;
    max-width: auto;
}

#navbar {
    max-width: 100%;
    max-height: 70px;
}

#loginRegTab {
    border-style: solid;
    border-width: 1.5px;
    display: inline;
    padding: 5px;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#welcome {
    font-family: "Josefin Sans", sans-serif;
    color: #79cdcd;
    font-size: 20pt;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#userNotFoundDiv {
    visibility: hidden;
}

.notfound {
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notfoundimg {
    height: 60%;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.9;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #79CDCD;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    height: 70px;
    width: auto;
    line-height: 70px;
    font-family: "Open Sans", sans-serif;
}

.normalTab a:hover {
    border-bottom-style: solid;
    border-bottom-color: #79cdcd;
    border-bottom-width: thick;
}


.userTabNotSelected:hover {
    background-color: rgba(79, 205, 205, 1);
    color: #ffffff;
    cursor: pointer;
}

#mainBody {
    padding-top: 32px;
    overflow-x: hidden;
    max-width: 100%;
    z-index: -1;
    font-family: "Open Sans", sans-serif;
}

#editorDiv {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
    font-size: 20pt;
    width: 100%;
    height: 100%;
}

#noodleOutputBoxDiv {
    height: 75%;
    margin: auto;
    z-index: 1;
}

#noodleOutputBox {
    width: 90%;
    resize: none;
    height: 90%;
    font-family: "Consolas";
    font-size: 10pt;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba(79, 205, 205, 0);
    color: #444444;
    z-index: 1;
}

#noodleOutputBoxContainer {
    float: left;
    width: 45%;
    margin-right: 0px;
    height: 100%;
    z-index: 1;
}

#outputText {
    float: right;
    font-size: 8pt;
    color: #777777;
    padding-top: 8px;
    padding-right: 8px;
}

#editorBorderDiv {
    position: absolute;
    z-index: -1;
    width: 55%;
    background-color: #f5f5f5;
    height: 100%;
}

#editorBorder {
    width: 100%;
    height: 100%;
}

#outputBorderDiv {
    position: absolute;
    z-index: 1;
    width: 45%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #cccccc;
    background-color: #f5f5f5;
    height: 100%;
}

#outputBorder {
    width: 100%;
    height: 100%;
}

.table-div {
    display: table;
    float: left
}

.tr-div {
    display: table-row
}

.td-div {
    display: table-cell
}

#mainTableDiv {
    visibility: hidden;
}

#startCodingButton {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Josefin Sans";
    color: #79cdcd;
    border-style: solid;
    border-color: #79cdcd;
    padding: 20px;
    font-size: 25pt;
}

#startCodingButton:hover {
    color: #ffffff;
    background-color: #79cdcd;
    cursor: pointer;
}

#editorContainer {
    width: 50%;
    float: left;
    height: 100%;
    overflow-y: hidden;
}

#editor {
    font-size: 10pt;
    z-index: 0;
}

#toolbarDiv {
    float: left;
    width: 3.5%;
    padding-left: 1.5%;
    padding-top: 20px;
    height: 100%;
    position: relative;
}

#run {
    width: 50%;
    height: auto;
}

#fullScreen {
    padding-top: 20px;
    width: 50%;
    height: auto;
}

#settings {
    padding-top: 20px;
    width: 50%;
    height: auto;
}

#clean {
    padding-top: 20px;
    width: 50%;
    height: auto;
}

#find {
    padding-top: 20px;
    width: 50%;
    height: auto;
}

#save {
    padding-top: 20px;
    width: 50%;
    height: auto;
}

#errorIndicator {
    bottom: 0;
    right: 4%;
    position: absolute;
    width: 50%;
    height: auto;
    float: left;
}

#run:hover {
    opacity: 0.5;
    cursor: pointer;
}

#fullScreen:hover {
    opacity: 0.5;
    cursor: pointer;
}

#settings:hover {
    opacity: 0.5;
    cursor: pointer;
}

#clean:hover {
    opacity: 0.5;
    cursor: pointer;
}

#find:hover {
    opacity: 0.5;
    cursor: pointer;
}

#save:hover {
    opacity: 0.5;
    cursor: pointer;
}

#fontSizeSelect {
    width: 155px;
    height: 30px;
    font-size: 18px;
    display: block;
    margin: auto;
}

.loginField {
    width: 90%;
    height: 30px;
    font-size: 18px;
    display: block;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.settingsChoiceTitle {
    text-align: center;
    color: #79cdcd;
    font-size: 18px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: #79cdcd;
    color: white;
    text-align: center;
}

.loginRegister-header {
    font-size: 10pt;
    font-family: "Open Sans";
    background-color: #79cdcd;
    color: white;
    text-align: center;
    width: 50%;
    float: left;
}

#loginRegisterTabsContainer {
    padding-bottom: 40px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #79cdcd;
    color: white;
    text-align: center;
    font-family: "Open Sans";
}

.loginRegister-header:hover {
    opacity: 0.5;
    cursor: pointer;
}

.modal-footer:hover {
    opacity: 0.5;
    cursor: pointer;
}

.syntaxError {
    position: absolute;
    background: rgba(255, 0, 0, 0.2);
    z-index: 20
}

.correctSyntax {
    position: absolute;
    background: rgba(0, 255, 0, 0.3);
    z-index: 20
}

#loginRegisterForm input:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(../images/cross.png) no-repeat 90% center;
    background-size: 20px 20px;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}

#loginRegisterForm input:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(../images/tick.png) no-repeat 90% center;
    background-size: 20px 20px;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    margin-bottom:20px;
}

.form_hint::before {
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

#loginRegisterForm input:focus + .form_hint {display: inline;}
#loginRegisterForm input:required:valid + .form_hint {display: none; background: #28921f;}
#loginRegisterForm input:required:valid + .form_hint::before {color:#28921f;}

*:focus {outline: none;}

#userMainBody {
    height: 80%;
}

#bodyDiv {
    height: 100%;
}

#optionsBarDiv {
    margin-top: 50px;
    width: 100%;
    height:250px;
}

#optionsBarTable {
    background-color: #fbfbfb;
    height: 100%;
    float:left;
}

#userSettingsDiv {
    margin-top: 50px;
    margin-left: 50px;
    width:70%;
    height:100%;
    float: left;
}

#userSettingsTable {
    background-color: #fbfbfb;
    height: 100%;
}

.optionsText {
    font-family: "Open Sans", sans-serif;
    color: #79cdcd;
    font-size: 12pt;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.optionsBarOption {
    border-bottom-style: solid;
}

.optionTD {
    padding-left: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dddddd;
    position: relative;
}

.optionTD:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.optionTD:active {
    background-color: #eeeeee;
    cursor: pointer;
}

#librariesTab {
    border-color: #fbfbfb;
}

#accountSettingsTab {
    background-color: #eeeeee;
}

#usernameTR {
position: relative;
    height: 100px;
}

#usernameTD {
    padding-left:20px;
    position: relative;
}

#usernameText {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "Bebas";
    font-size: 24pt;
    color: #79cdcd;
}

#changeContent {
    padding-left: 20px;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
}

.changeTitle {
    font-family: "Bebas";
    font-size: 20pt;
    color: #79cdcd;
}

.detailsChange {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    padding-top: 20px;
}

.detailsChangeInput {
    border-style: none;
    height: 30px;
    width: 300px;
    font-size: 10pt;
    padding-left: 10px;
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
}

#updateDetailsButton {
    font-family: "Josefin Sans";
    color: #79cdcd;
    border-style: solid;
    border-color: #79cdcd;
    padding: 10px;
    font-size: 12pt;
}

#updateDetailsButton:hover {
    color: #ffffff;
    background-color: #79cdcd;
    cursor: pointer;
}

#gapTR {
    background-color: #ffffff;
    height:20px;
}

#changeTR {
    padding-left:20px;
    height: 100%;
    width: 100%;
}

#changeTD {
    height: 100%;
    width: 100%;
}

#accountSettings {
    display: block;
}

#editorSettings {
    display: none;
}

#programs {
    display: none;
    height: 100%;
}

#libraries {
    display: none;
    height: 100%;
}

.emptyBowlDiv {
    height: 10%;
    margin: 0 auto;
}

.emptyBowl {
    height: 10%;
    margin: auto;
    transform: translate(85%, 0);
}

#bowlAnimationDiv {
    width: 80%;
    display: block;
    margin: auto;
}

#bowlAnimation {
    width: 100%;
    display: block;
    margin: auto;
}

#bowlAnimation:hover {
    content:url("../images/fullBowl.png");
}

#leftSide {
    float:left;
    width: 20%;
    margin-left: 40px;
}

.newProgramLibraryButton {
    font-family: "Josefin Sans";
    color: #79cdcd;
    border-style: solid;
    border-color: #79cdcd;
    padding: 10px;
    font-size: 12pt;
    float:right;
    margin-right: 40px;
}

.newProgramLibraryButton:hover {
    color: #ffffff;
    background-color: #79cdcd;
    cursor: pointer;
}

#changeThemeDiv {
    width: 0;
    margin-top: 20px;
}

#fontSizeChange {
    width: 155px;
    height: 30px;
    font-size: 18px;
    margin-top: 20px;
}

#logoutButton {
    font-family: "Josefin Sans";
    color: #79cdcd;
    border-style: solid;
    border-color: #79cdcd;
    padding: 10px;
    font-size: 12pt;
    float:right;
    margin-right: 20px;
    margin-top: 28px;
}

#logoutButton:hover {
    color: #ffffff;
    background-color: #79cdcd;
    cursor: pointer;
}

#logoutModal {
    display: none;
}

.logoutModalOption {
    font-size: 10pt;
    font-family: "Open Sans";
    background-color: #79cdcd;
    color: white;
    text-align: center;
    width: 50%;
    float: left;
    z-index: 1;
}

.logoutModalOption:hover {
    opacity: 0.5;
    cursor: pointer;
}

#logoutConfirmText {
    font-size: 12pt;
    text-align: center;
    font-family: "Open Sans";
}

#usernameChangeCorrection {
    display: none;
}

#emailChangeCorrection {
    display: none;
}

#passwordChangeCorrection {
    display: none;
}

.currentTab a {
    color: #bbbbbb;
    border-color: #bbbbbb;
}

.currentTab a:hover {
    border-bottom-style: solid;
    border-bottom-color: #bbbbbb;
    border-bottom-width: thick;
}

.userTabSelected {
    color: #bbbbbb;
    border-color: #bbbbbb;
}

.userTabSelected:hover {
    color: #ffffff;
    background-color: #bbbbbb;
    cursor: pointer;
}


/*
@media screen and (max-width: 980px) {
  #navbar {
      max-height: 90px;
      font-size: 2em;
  }
  li a {
    height: 90px;
    line-height: 90px;
  }
  #logo a img {
    max-height:90px;
  }
  #mainBody {
    padding-top: 120px;
  }
  */


}
