body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

#bodyDiv {
    float: left;
}

#logo {
    float: left;
}

#logo a:hover {
    background-color: rgba(255, 255, 255, 1);
}

#logo a img {
    max-height: 100%;
    max-width: auto;
}

#navbar {
    max-width: 100%;
    max-height: 70px;
}

#loginRegTab {
    border-style: solid;
    border-width: 1.5px;
    display: inline;
    padding: 5px;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#welcome {
    font-family: "Josefin Sans", sans-serif;
    color: #79cdcd;
    font-size: 20pt;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.9;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #79CDCD;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    height: 70px;
    width: auto;
    line-height: 70px;
    font-family: "Open Sans", sans-serif;
}

.normalTab a:hover {
    border-bottom-style: solid;
    border-bottom-color: #79cdcd;
    border-bottom-width: thick;
}

#loginRegTabLink:hover span {
    background-color: rgba(79, 205, 205, 1);
    color: #ffffff;
}

#mainBody {
    padding-top: 32px;
    overflow-x: hidden;
    max-width: 100%;
    z-index: -1;
    font-family: "Open Sans", sans-serif;
}

#editorDiv {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
    font-size: 20pt;
    width: 95%;
    height: 100%;
}

#noodleOutputBoxDiv {
    height: 75%;
    margin: auto;
}

#noodleOutputBox {
    width: 90%;
    resize: none;
    height: 90%;
    font-family: "Consolas";
    font-size: 10pt;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba(79, 205, 205, 0);
    color: #444444;
    z-index: 1;
}

#noodleOutputBoxContainer {
    float: left;
    width: 100%;
    margin-right: 0px;
    height: 100%;
}

#noodleErrorsBox {
    background-color: rgba(79, 205, 205, 0);
    resize: none;
    width: 90%;
    height: 50%;
    font-family: "Consolas";
    font-size: 10pt;
    color: #444444;
    display: block;
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#noodleErrorsBoxDiv {
    margin: 0;
    padding-top: 15px;
    padding-left: 2%;
    height: 60%;
}

#noodleErrorsBoxContainer {
    width: 55%;
    float: left;
    height: 100%;
}

#errorsText {
    float: right;
    font-size: 8pt;
    color: #777777;
    padding-top: 8px;
    padding-right: 8px;
}

#outputText {
    float: right;
    font-size: 8pt;
    color: #777777;
    padding-top: 8px;
    padding-right: 8px;
}

#editorBorderDiv {
    position: absolute;
    z-index: -1;
    width: 55%;
    background-color: #f5f5f5;
    height: 100%;
}

#editorBorder {
    width: 100%;
    height: 100%;
}

#outputBorderDiv {
    position: absolute;
    z-index: -1;
    width: 45%;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #cccccc;
    background-color: #f5f5f5;
    height: 100%;
}

#outputBorder {
    width: 100%;
    height: 100%;
}

#errorsBorderDiv {
    position: absolute;
    z-index: -1;
    width: 55%;
    background-color: #f5f5f5;
    border-top-style: solid;
    border-top-color: #cccccc;
    border-top-width: 1px;
    margin-bottom: 0px;
    float: left;
    height: 20%;
}

#errorsBorder {
    width: 100%;
    height: 100%;
}

.table-div {
    display: table;
    float: left
}

.tr-div {
    display: table-row
}

.td-div {
    display: table-cell
}

#mainTableDiv {
    visibility: hidden;
}

#startCodingButton {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Josefin Sans";
    color: #79cdcd;
    border-style: solid;
    border-color: #79cdcd;
    padding: 20px;
    font-size: 25pt;
}

#startCodingButton:hover {
    border-style: none;
    color: #ffffff;
    background-color: #79cdcd;
    cursor: pointer;
}

#editorContainer {
    width: 90%;
    float: left;
    height: 100%;
    overflow-y: hidden;
}

#editor {
    font-size: 10pt;
    z-index: 0;
}

#toolbarDiv {
    float: left;
    width: 3%;
    padding-left: 3%;
    padding-top: 20px;
    height: 100%;
    position: relative;
}

#run {
    width: 100%;
    height: auto;
}

#fullScreen {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

#settings {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

#clean {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

#errorIndicator {
    bottom: 0;
    position: absolute;
    width: 60%;
    height: auto;
    float: left;
}

#run:hover {
    opacity: 0.5;
    cursor: pointer;
}

#fullScreen:hover {
    opacity: 0.5;
    cursor: pointer;
}

#settings:hover {
    opacity: 0.5;
    cursor: pointer;
}

#clean:hover {
    opacity: 0.5;
    cursor: pointer;
}

#fontSizeSelect {
    width: 155px;
    height: 30px;
    font-size: 18px;
    display: block;
    margin: auto;
}

.settingsChoiceTitle {
    text-align: center;
    color: #79cdcd;
    font-size: 18px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.6s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: #79cdcd;
    color: white;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #79cdcd;
    color: white;
    text-align: center;
}

.modal-footer:hover {
    opacity: 0.5;
    cursor: pointer;
}

.syntaxError {
    position: absolute;
    background: rgba(255, 0, 0, 0.2);
    z-index: 20
}

.correctSyntax {
    position: absolute;
    background: rgba(0, 255, 0, 0.3);
    z-index: 20
}


/*
@media screen and (max-width: 980px) {
  #navbar {
      max-height: 90px;
      font-size: 2em;
  }
  li a {
    height: 90px;
    line-height: 90px;
  }
  #logo a img {
    max-height:90px;
  }
  #mainBody {
    padding-top: 120px;
  }
  */


}
